<div class="container show_container">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= @event.name %></div>

    <h4>Themes</h4>
    <% @categories.each do |cat| %>
    <span class="label label-success"><%= cat.name %></span>
    <% end %>
    <!-- Photos -->
    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
      <%= image_tag photo.image.thumbnail %>
    <% end %>
  </div>

  <!-- Booking Form -->
  <% if current_user != @event.user %>
    <div class="panel panel-primary">
      <div class="panel-heading">Register to this Event</div>

      <div class="panel-body">
        <%= render 'registrations/form' %>
      </div>
    </div>
  <% end %>

  <%= link_to "Back", events_path, class: "btn btn-default" %>
</div>
