<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurup</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,700" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "shared/navbar" %>


      <!-- Notifications from Devise Gem -->
      <div class="row">
        <div class="col-xs-12 all_notification text-center">
            <p class="notice text-center"><%= notice %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 all_notification text-center">
          <p class="alert"><%= alert %></p>
        </div>
      </div>

           <%= yield %>
  </body>
</html>
